* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #f4f4f4;
}


.container {
    width: 40%;
    min-height: 80%;
    background-color: #f4f4f4;
    margin: 0 auto;
}
/** Header **/
.heading {
    text-align: center;
    background-color: chocolate;
    padding: 4px;
    margin: 0 0 5px 0;
}
/** Main content section **/

.section-content {
    display: flex;
    gap: 10px;
    height: 700px;
}

.content-block {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-grow: 1;
}

/** Hero section **/
.hero {
    width: 100%;
    height: 300px;
    background-color: rgb(209, 73, 195);

}
/** Sidebar section **/

.sidebar {
    height: 500px;
    flex-direction: column;
    background-color: rgb(150, 209, 73);

}

.content-block-second {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-grow: 1;
}

/** Main content **/
.main-content {
    height: 500px;
    background-color: rgb(151, 109, 198);
}

/** second section content **/

.extra-content {
    height: 200px;
    background-color: rgb(150, 209, 73);
}

.second-section {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    height: 100px;
}

.section-image {
    width: 60%;
    background-color: rgb(64, 97, 20);
}

.section-posts {
    flex-grow: 1;
    background-color: rgb(211, 190, 51);

}

.footer {
    background-color: rgb(67, 138, 186);
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    height: 50px;
}